
   body{
        font: 20px Montserrat, sans-serif;
        line-height: 1.8;
      }
/*forandrer på font og høyde på font*/

    .navbarindex {
        padding-top: 15px;
        padding-bottom: 15px;
        border: 0;
        border-radius: 0;
        margin-bottom: 0;
        font-size: 12px;
        letter-spacing: 5px;
      }
      
      .navbar-nav li a:hover {
        color: #1abc9c !important;

      }
      /*Forandrer på navbar*/

      .footerindex {
        background-color: #2f2f2f;
        color: white;
        padding: 60px;
      }
    /*styler navbar*/

    /*alt under dette er text og ting i første side*/
    .headertext{
      background-color: gray;
      Color: white;
  }

    .maintext1{
      background-color: gray;
      Color: white;
  }
  /* foandrer på øverste text i grå kollonne*/
  
  .maintext2{
      background-color: rgb(63, 63, 133);
      Color: white;
      padding-top: 70px;
    padding-bottom: 70px;
  }
  /* forandrer på andre text i blå kollonne */
  
  .maintext3{
      background-color: whitesmoke;
      Color: black;
      padding-top: 70px;
    padding-bottom: 70px;
  }

  /* forandrer på text i hvit kollonne*/
  
  .tree{
    border-radius: 15px;
  }
  
  .water{
    border-radius: 15px;
  }
  
  .leaves{
    border-radius: 15px;
  }
  /* forandrer på bildene "leaves", "tree" og "water"*/

   /*alt over dette er text og ting i første side*/


   .headerarbeid{
    Color: black;
}


